<template lang="pug">
#home-view
  HomeComponent(msg="Ok?")
</template>

<script lang="ts">
import HomeComponent from '@/components/HomeComponent.vue';

export default {
  name: "Home",
  components: {
    HomeComponent,
  }
};
</script>
