<template lang="pug">
#home
  h1 {{ msg }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {
  @Prop() private msg!: string = "Hello?";
}
</script>
